@inherits LayoutComponentBase
@using funnypassgenwasm.Components

<PageTitle>Funny Password Generator</PageTitle>

<MyMudThemeProvider />

<div class="page mud-layout">
    <main style="@($"background-color:{MyMudThemeProvider.MyTheme.PaletteLight.Tertiary};")
     width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
    overflow-y: auto;">
        <MudPaper Elevation="10" Square="true" Style="@($"background-color:{MyMudThemeProvider.MyTheme.PaletteLight.Primary};")">
            <MudStack Row="true">
                <MudImage Src="FunnyPassGenLogo128.png"></MudImage>
                <MudStack>
                    <MudText Typo="Typo.h5" Color="Color.Secondary">Funny</MudText>
                    <MudText Typo="Typo.h5" Color="Color.Secondary">Password</MudText>
                    <MudText Typo="Typo.h5" Color="Color.Secondary">Generator</MudText>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-1 pt-1">
            @Body
        </MudContainer>
    </main>
</div>